[Desktop Entry]
Encoding=UTF-8
Name=TrustCoin
Comment=TrustCoin P2P Cryptocurrency
Comment[fr]=TrustCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=TrustCoin, eşten eşe kriptografik sanal para birimi
Comment[es]=TrustCoin, una criptomoneda P2P
Exec=/usr/bin/trustcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/trustcoin;
Categories=Office;
